<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Test Home</title>
</head>
<body>
<script src ="facebookSDK.js"></script>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>

<p>this is a test.</p>
  
  
</body>